@font-face {
    font-family: anjoman-light;
    src: url(../fonts/Anjoman-FaNum-Light.woff2);
}

@font-face {
    font-family: anjoman-bold;
    src: url(../fonts/PeydaWeb-Bold.woff2);
}

:root {
    direction: rtl;
    --theme-color: #0084ff;
}

/* .bg {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
} */

body{
	display: flex;
	justify-content: center;
    box-sizing: border-box;
	align-items: center;
    flex-direction: row;
    font-family: anjoman-light;

    /* overflow: hidden; */
    background-color: #202020;
    background: url(../images/bg.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #202020;
}

h2 {
    display: flex;
	justify-content: center;
    font-family: anjoman-bold;
    font-size: 2rem;
    transition: 1s;
}

h2:hover {
    transform: translateX(-1rem) translateY(0);
}

.h1-header {
    position: absolute;
    display: inline;
    top: 0;
    right: 1rem;
    
    /* font-size: 1.5rem; */
}

.h1-header-en {
    position: absolute;
    display: inline;
    top: 0.3rem;
    left: 1rem;
    
    /* font-size: 1.5rem; */
}

.boldtext h2 {
    position: relative;
    padding: 0;
    margin: 0.5rem 1rem;
    display: inline-block;
}
  
.boldtext h2 img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 20%;
    z-index: -1;
}

.boldtext p {
    margin: 1rem 1.4rem;
}

.container {
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 10px;
    /* backdrop-filter: blur(5px); */
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 95%;
    height: 95%;
    z-index: 0;
    margin: 1rem 0 1rem;
}

header  {
    /* position: fixed; */
    width: 100%;
    top: 0;
    transition: .5s;
    z-index: 100;
    opacity: 1;
    background: #fff;
    padding: 15px 0!important;
    margin: auto!important;
    background-color: hsla(0, 3%, 92%, 0.72)!important;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    transition: 0.3s;
}
  
header ul li {
    display: inline-block;
    padding: 0;
    margin: 0.1rem;
    position: relative;
    transition: 0.3s;
}
  
header ul li:hover ul {
    display: block;
}
  
header ul li a {
    font-size: 14px;
    text-decoration: none;
    color: #000000;
    padding: 10px 18px;
    border-radius: 0.5rem;
    transition: 0.2s;
}
  
header ul li a:hover {
    background: var(--theme-color);
    color: #fff;
}

.main-logo {
    width: 70px;
    height: 50px;
    transition: 1s;
}

footer {
    --tw-bg-opacity: 1;
    background-color: rgb(209 219 232/var(--tw-bg-opacity));
    padding: 0.5rem 10%;
}
  
.linkarea ul {
    list-style: none;
    padding: 0;
}
  
.linkarea ul a {
    color: black;
    font-size: 2rem;
}

footer ul {
    list-style: none;
    text-align: center;
}
  
footer ul a {
    display: inline-block;
    position: relative;
    padding: 0px 15px;
}

@media (max-width: 480px) {
    .linkarea ul a {
        color: black;
        font-size: 1.6rem;
    }
}

@media (max-width: 430px) {
    .linkarea ul a {
        color: black;
        font-size: 1.3rem;
    }
}

@media (max-width: 400px) {
    .linkarea ul a {
        color: black;
        font-size: 1rem;
    }
}

.borderarea {
    margin-bottom: 1rem;
    border-bottom-width: 1px;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    border: 0.01rem solid rgba(145, 164, 188, 0.555);
}

.coppyarea {
    text-align: center;
}
  
.coppyarea span {
    font-size: 1rem;
    margin-bottom: 1rem;
    display: inline-block;
}

@media (max-width: 480px) {
    .coppyarea span {
        font-size: 0.9rem;
    }
}
  
.coppyarea p {
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
}
  
.coppyarea p a {
    text-decoration: none;
    margin-right: 4px;
    color: #39364e;
}


.program {
    display: flex;
    justify-content: center;
}

.moneyboxs {
    width: 100%;
    max-width: 100%;
    background: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 1rem;
    margin: 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem 2rem 1.1rem;
    position: relative;
    /* height: auto; */
    height: 7vh;
}

.moneyboxs h4 {
    font-family: anjoman-bold;
    font-size: 2rem;
}

.sd-align {
    position: absolute;
    width: 91%;
    right: 2rem;
    /* padding: 1rem 1rem 0rem 1rem; */
    align-items: center;
    text-align: center;
    justify-content: center;
    bottom: 5px;
}

.progress {
    display: flex;
    height: 0.5rem;
    overflow: hidden;
    line-height: 0;
    font-size: 0.75rem;
    background-color: #eaecf4;
    border-radius: 99px;
}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: var(--theme-color);
    transition: width 0.6s ease;
}


.moneyboxs i {
    font-size: 3rem;
}

.progress-container {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.progress {
    width: 100%;
    position: relative;
}

.progress-container h6 {
    margin: 0; 
    font-size: 14px;
}

.bg-html {
    background-color: #e34f26;
}

.bg-css {
    background-color: #2062af;
}

.bg-js {
    background-color: #f7df1e;
}

.bg-ps {
    background-color: #31a8ff;
}

.bg-lua {
    background-color: #000080;
}

.bg-cs {
    background-color: #6a1577;
}

.bg-pr {
    background-color: #9999ff;
}

.bg-flutter {
    background-color: rgba(19,185,253,1);
}

.bg-aspnet {
    background-color: #0079c1;
}


@media screen and (max-width: 1700px) {
    .progress-container h6 {
        margin: 0 0 0 1rem; 
    }

}

@media screen and (max-width: 1300px) {
    .progress-container h6 {
        margin: 0 0 0 1.4rem; 
    }

}

@media screen and (max-width: 1000px) {
    .progress-container h6 {
        margin: 0 0 0 1.6rem; 
    }

}

@media screen and (max-width: 900px) {
    .progress-container h6 {
        margin: 0 0 0 0; 
    }
}

@media screen and (max-width: 700px) {
    .progress-container h6 {
        margin: 0 0 0 0.2rem; 
    }

}


@media screen and (max-width: 600px) {
    .progress-container h6 {
        margin: 0 0 0 0.4rem; 
    }

}

@media screen and (max-width: 500px) {
    .progress-container h6 {
        margin: 0 0 0 0.7rem; 
    }

}

@media screen and (max-width: 400px) {
    .progress-container h6 {
        margin: 0 0 0 1rem; 
    }

    .coppyarea span {
        font-size: 0.8rem;
    }

}

@media screen and (max-width: 900px) {
    .program {
        flex-wrap: wrap;
    }
}